@{
    ViewBag.Title = "Change Password";
    Layout = "_MainLayout";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePasswordPost" method="post">
            <div class="form-group">
                <label name="password" class="control-label">New Password</label>
                <input name="password" class="form-control" placeholder="Please Enter a New Password" />
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>