@model List<UserModel>

@foreach (var item in Model)
{
    <a asp-controller="Chat" asp-action="Chat" 
    asp-route-userId="@ViewData["UserId"]" 
    asp-route-friendId="@item.UserId">
        <div class="discussion message-active">
            <img class="photo" src="/ProfilePicture/@item.Picture">
            </img>
            <div class="desc-contact">
                <p class="name">@item.Name</p>
            </div>
        </div>
    </a>
}