@model UserModel

@{
    // ViewData["Title"] = "Main Page";
}

<div>
    <div class="row">

        <partial name="_NavbarPartialView" />


        <section class="discussions MyBorder-RightButtom-RightTop">

            @await Component.InvokeAsync("UserInfo" , Model)

            @await Component.InvokeAsync("MainFriends" , Model)

        </section>

    </div>
</div>