@model UserModel

<div class="discussion UserInfo">
    <div class="info">
        <img class="UserPhoto" src="/ProfilePicture/@(Model.Picture)">
        <span class="UserName">@Model.Name</span>
    </div>
</div>