@model IEnumerable<UserModel>


@foreach (var item in Model)
{
	<div class="found-friend friend-active">
		<div class="photo" src="/ProfilePicture/@item.Picture">
		</div>
		<div class="desc-contact">
			<p class="name">@item.Username</p>
		</div>
		<a class="btn btn-sm btn-success" asp-controller="Search" asp-action="AddFriend" asp-route-friendId="@item.UserId">Add</a>
	</div>
}