@model UserModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}



<!-- partial:index.partial.html -->
<div class="screen-1">
    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="email">
            <label asp-for="Email"></label>
            <div class="sec-2">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" placeholder="Username@gmail.com" asp-for="Email" />
            </div>
        </div>
        <div class="password">
            <label asp-for="Password"></label>
            <div class="sec-2">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input class="pas" type="password" name="password" placeholder="············" asp-for="Password" />
            </div>
        </div>
        <button class="login">Login </button>        
    </form>

    <div class="footer"><span>Signup</span></div>
</div>
<!-- partial -->