<nav class="menu MyBorder-LeftButtom-LeftTop">
    <ul class="items">
        <li class="item item-active MyBorder-LeftTop">
            <i class="fa fa-commenting" aria-hidden="true"></i>
        </li>
        <li class="item">
            <i class="fa fa-search" aria-hidden="true"></i>
        </li>
    </ul>

    <div class="item  CogButton">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
    <div class="item SignOutButton">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
    </div>
</nav>